.title-has-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  a {
    color: white;

    &:hover {
      color: inherit;
    }
  }

  @include lustrum-border-colors('body.',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
  @include lustrum-border-colors('body.category-',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
}

h4 {
  margin: 0.8em 0 0.5em;
}

.fancy_title {
  letter-spacing: 0.1em;
  line-height: 1;
}
