.site-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: black;
  transition: all 0.5s ease-in;
  padding: 10px;

  .header-bar {
    align-items: center;

    .level-right {
      .buttons {
        display: flex;

        @include mobile {
          .button {
            border-radius: 2px;
            font-size: 0.75rem;
          }
        }

        a:not(:last-of-type) {
          margin-right: 8px;
        }
      }
    }
  }

  @include touch {
    .brand-title {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      height: 20px;
      width: 100%;
      background-color: $wispo-primary;

      .subtitle {
        font-size: 0.9rem;
        line-height: 20px;
      }
    }
  }

  @include desktop {
    padding: $gap;

    .brand-title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header-toggle {
    border: 0 solid;
    background-color: transparent;
    color: white;

    .header-toggleLabel {
      line-height: 16px;
    }
  }

  .header-toggleBurger {
    @include hamburger($gap);

    margin-right: 8px;
  }

  .brand-title,
  .subtitle {
    color: white;
  }
}

