body.home {
  .g {
    margin: 1rem auto;
  }

  @include desktop {
    .hero-header .brand-title h1 {
      font-size: 150%;
      transition: 0.3s all;
      padding: 0.2em 0.5em;
      background-color: white;
      color: black;
    }
  }

  .site-hero {
    position: relative;
    padding: 120px 0 40px;

    .video-promo {
      max-width: 65vw;
      display: inline-block;
      position: relative;

      #play-button {
        position: absolute;
        font-size: 80px;
        color: $lustrumweek-primary;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: all 0.5s ease-in;
        text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        @include mobile {
          right: 15px;
          bottom: 5px;
          left: unset;
          top: unset;
          font-size: 60px;
          transform: none;
        }
      }

      video {
        object-fit: cover;
      }
    }

    @include mobile {
      padding: 82px 0 15px;

      .video-promo {
        width: 100vw;
        max-width: none;
      }
    }

    .title-card {
      position: absolute;
      top: 5%;
      left: -35%;

      @include mobile {
        left: 20px;

        h3 {
          line-height: 1;
        }
      }

      h2 {
        color: black;
        font-size: 8rem;
        line-height: 100%;
        letter-spacing: 4px;

        @include tablet-only {
          font-size: 4rem;
        }

        @include mobile {
          font-size: 3rem;
          line-height: 130%;
        }
      }

      h3 {
        text-shadow: 1px 1px 1px $dark-blue-bg;
      }

      h4 {
        padding: 0.25em 0.5em;
        background-color: $gala-primary;
        display: inline-block;

        @include mobile {
          padding: 0.1em 0.25em;
        }
      }

      .buttons {
        margin-top: 40px;

        a:not(:last-of-type) {
          margin-right: 10px;
        }

        @include mobile {
          display: none;
        }
      }

      @include touch {
        .buttons a {
          border-radius: 3px;
          font-size: 1rem;
        }
      }

      @include widescreen {
        top: 10%;
        left: -25%;

        .buttons {
          margin-top: 80px;
        }
      }
    }

    .background-image {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: 1500px;
      background-color: $piekweek-primary;
      background-blend-mode: screen;
      fill: darken($piekweek-primary, 20%);
    }
  }

  .action-banner {
    .homepage-background {
      background-color: $wispo-primary;
    }

    .button-homepage {
      background-color: $wispo-primary;
      color: white;

      &:hover {
        color: darken($wispo-primary, 20%);
      }
    }
  }

  main {
    .introduction {
      margin: 50px auto;

      h3 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

