footer.single-footer {
  margin: $gap-large 0;

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-previous {
    order: 2;
  }

  .nav-next {
    order: 1;
  }

  .pagination-previous,
  .pagination-next {
    max-width: 100%;
  }

  .chevron-right::before {
    content: "\2039";
    margin-right: 4px;
    font-size: 150%;
  }

  .chevron-left::after {
    content: "\203A";
    margin-left: 4px;
    font-size: 150%;
  }

  .pagination a,
  .posts-navigation a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:hover) {
      color: $primary;
    }
  }
}

body.blog {
  .news-filter {
    margin: 0 auto 2rem;

    .column-left {
      margin-right: 1.5rem;
    }

    @include widescreen {
      max-width: 80%;
    }

    h2 {
      .filter-title {
        background-color: $gala-primary;
        display: inline-flex;
        transform: rotate(-4deg);
        padding: 0.25rem 0.5rem;
      }
    }

    .tags {
      display: flex;
      justify-content: center;

      .tag {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
        text-decoration: underline;
        background-color: transparent;

        &:hover {
          text-decoration: none;
        }
      }

      a {
        margin: 0;
        display: inline-flex;

        &:not(:last-of-type)::after {
          content: "-";
          color: $white;
          margin: 0 0.75rem;
          font-size: 1.25rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  hr {
    height: 2px;
    background-color: $lustrumweek-primary;
  }
}
