footer.single-footer {
  margin: $gap-large 0;

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-previous {
    order: 2;
  }

  .nav-next {
    order: 1;
  }

  .pagination-previous,
  .pagination-next {
    max-width: 100%;
  }

  .chevron-right::before {
    content: "\2039";
    margin-right: 4px;
    font-size: 150%;
  }

  .chevron-left::after {
    content: "\203A";
    margin-left: 4px;
    font-size: 150%;
  }

  .pagination a,
  .posts-navigation a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:hover) {
      color: $primary;
    }
  }
}
