body.jaaroverzicht {
  .timeline {
    img {
      max-height: 100%;
      max-width: 100%;
    }

    .timeline-item .timeline-content .heading {
      margin-bottom: 0.25rem;
    }

    .button {
      background-color: transparent;
      border-color: #fff;
      color: #fff;

      &:hover {
        background-color: #fff;
        border-color: #fff;
        color: findColorInvert(#fff);
      }
    }
  }
}
