body.template-lustrumevenement,
body.template-lustrumsubevenement {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      background-color: $black;
      opacity: 0.4;
    }

    .hero-video {
      z-index: -1;
    }

    .subtitle {
      display: block;
    }

    h1 {
      @include tablet {
        @include blockchain;
        @include declare-font-size-all(3rem, 6rem, 7rem, 8rem, 10rem);

        @include desktop {
          margin-bottom: 65px;
        }

        span {
          display: inline-block;
          position: relative;
        }

        @include set-gravity-letters('.char',
        '1'   2px   -10deg,
        '2'   -2px  5deg,
        '3'   3px   -5deg,
        '4'   -4px  3deg,
        '5'   6px   -3deg,
        '6'   8px   -2deg,
        '7'   -5px  3deg,
        '8'   0     -2deg,
        '9'   -8px  4deg,
        '10'  1px   -2deg,
        '11'  -2px  5deg,
        '12'  3px   2deg,
        '13'  0     0,
        '14'  -4px  -1deg,
        '15'  2px   6deg,
        '16'  5px   5deg,
        '17'  -3px  8deg
      );
      }

      @include mobile {
        color: black;
        font-weight: bold;
        text-align: center;
      }
    }

    h2 {
      @include tablet {
        max-width: 66.6667%;
      }

      display: inline-block;
      padding: 0.15rem 0.5rem;
      margin-top: $gap-large;
    }
  }

  &.lustrum-productie {
    .hero {
      h1 {
        line-height: 115%;
      }
    }
  }

  .quick-facts .counter {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: black;
    background-color: white;
    padding: 0 0.25rem;
    font-size: 80%;

    .days {
      margin-right: 0.25rem;

      span {
        font-size: 200%;
      }
    }

    .text {
      display: flex;
      flex-direction: column;

      span {
        line-height: 100%;
      }
    }
  }

  @include config-event-quick-facts(
    'gala'              $gala-primary,
    'wintersport'       $wispo-primary,
    'lustrumweek'       $lustrumweek-primary,
    'piekweek'          $piekweek-primary,
    'lustrum-productie' $lustrum-productie-primary
  );
}

.hero::before,
.hero h2 {
  @include lustrum-background-colors('body.template-lustrumsubevenement.',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
}

.hero::before,
.hero h2 {
  @include lustrum-background-colors('body.template-lustrumevenement.',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
}

body.template-lustrumevenement,
body.template-lustrumsubevenement {
  .event-tiles {
    margin: -0.5em;

    .column {
      padding: 0.5em;

      a {
        color: black;
        text-decoration: unset;
      }

      .event-tile {
        position: relative;
        padding-top: 100%;
        text-transform: uppercase;
        overflow: hidden;

        .event-image {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          background-blend-mode: screen;
          transition: 0.4s all;
        }

        &:hover {
          .event-image {
            filter: grayscale(1);
            transform: scale(1.1);
          }
        }

        .event-date {
          position: absolute;
          left: 4px;
          bottom: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 0.9;
          width: 25%;
          font-size: 120%;
          z-index: 2;

          span {
            &:first-of-type {
              font-weight: bold;
              font-size: 180%;
            }
          }
        }

        .event-title {
          position: absolute;
          top: 4px;
          right: 4px;
          font-weight: bold;
          width: 65%;
          text-align: right;
          font-size: 130%;
          line-height: 1;
          z-index: 2;
        }

        .sold-out {
          position: absolute;
          right: 5%;
          bottom: 45%;
          color: white;
          padding: 0.15em 0.3em;
          transform: rotate(-8deg);
          background-color: hsl(348, 100%, 61%);
          z-index: 2;

          @include mobile {
            font-size: 0.6em;
          }
        }

        .event-read-more {
          position: absolute;
          bottom: 8px;
          right: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          visibility: hidden;
          z-index: 2;
        }

        &:hover {
          &::before {
            opacity: 1;
          }

          .event-read-more {
            visibility: visible;
          }

          .sold-out {
            visibility: hidden;
          }
        }
      }
    }
  }
}

.event-tiles .event-tile .event-image {
  @include lustrum-background-colors('body.template-lustrumevenement.',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
}

.event-tiles .event-tile .event-image {
  @include lustrum-background-colors('body.template-lustrumsubevenement.',
  'gala &'              $gala-primary,
  'wintersport &'       $wispo-primary,
  'lustrumweek &'       $lustrumweek-primary,
  'lustrum-productie &' $lustrum-productie-primary,
  'piekweek &'          $piekweek-primary
);
}

body.template-lustrumsubevenement {
  .widget.timetable {
    .widget-title::before {
      margin-right: 6px;
    }

    tr {
      vertical-align: baseline;

      &:hover {
        background-color: transparent;
      }
    }

    td {
      vertical-align: baseline;
      border: none;
      padding: 5px;
      line-height: 1.25;
    }

    .time {
      width: 35%;
      text-align: right;
      color: lightgrey;
    }

    .artist {
      text-align: left;
    }
  }

  .artists {
    .artist-tile {
      padding-top: 100%;
      position: relative;
      overflow: hidden;

      .artist-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: grayscale(1);
        transition: 0.4s all;
      }

      .artist-title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        text-align: center;
        transition: 0.4s all;

        h5 {
          background-color: $gala-primary;
          padding: 0.25em 0.5em;
        }
      }

      .artist-link-out {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;

        svg {
          width: 40px;
          height: 40px;
        }
      }

      &:hover {
        .artist-image {
          filter: grayscale(0);
          transform: scale(1.1);
        }

        .artist-title {
          opacity: 0;
        }

        .artist-link-out {
          visibility: visible;
        }
      }
    }
  }
}

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tabs li {
  background: #e11478;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

ul.tabs li.current {
  font-weight: bold;
}

.dag-content {
  display: none;
}

.dag-content.current {
  display: inherit;
}
