body.woocommerce,
body.woocommerce-cart,
body.woocommerce-checkout {
  .tabs.wc-tabs {
    display: none;
  }

  h3 {
    text-transform: uppercase;
    margin: 1em 0 0.5em;
  }

  .woocommerce-message {
    line-height: 2.2;
  }

  .woocommerce-error {
    margin-left: 0;
  }

  .woocommerce-NoticeGroup strong,
  .woocommerce-checkout-payment,
  .select2-container {
    color: black;
  }

  form .form-row .required {
    font-size: 120%;
  }

  table tr:hover {
    background-color: transparent !important;
  }

  .variations .label label {
    color: white;
  }

  .woocommerce-variation-add-to-cart.variations_button,
  div.product form.cart {
    display: flex;
    align-items: center;
  }

  @include mobile {
    .button:not(.single_add_to_cart_button) {
      border-radius: 2px !important;
      font-size: 0.75rem !important;
    }
  }

  .input-text {
    background-color: #fff;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    position: relative;
    vertical-align: top;
  }

  .button.button.alt {
    background-color: $gala-primary;
    color: white;
    text-transform: uppercase;

    &:hover {
      background-color: darken($gala-primary, 10%);
    }
  }
}

body.woocommerce {
  .woocommerce-loop-product__title {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 1.25rem !important;
    text-align: center;
  }

  .woocommerce-loop-product__link {
    text-align: center;
    margin-bottom: 1em;
  }

  .price {
    color: $piekweek-primary !important;
    line-height: 1.2;

    .woocommerce-Price-amount {
      color: $piekweek-primary;
      font-size: 1.6rem;
      font-weight: bold;
    }

    del span {
      font-size: 1rem !important;
      font-weight: normal !important;
    }
  }

  .products .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    span.onsale {
      top: 15px;
      background-color: #ff3860;
      bottom: 40px;
      color: #fff;
      position: absolute;
      right: 10px;
      transform: rotate(8deg);
      z-index: 2;
      font-weight: bold;
      padding: 0.25em 0.5em;
      height: 30px;
      text-transform: uppercase;
      border-radius: unset;
      min-height: unset;
      min-width: unset;
      line-height: unset;
      font-size: unset;
      margin: unset;
    }

    .add_to_cart_button {
      margin: 0;
      text-transform: uppercase;
    }
  }

  &.single-product {
    .hero-body h1 {
      display: inline-flex;
      padding: 0.2rem 0.5rem;
      background-color: #2db198;
    }

    .woocommerce-product-details__short-description {
      margin: 1em auto;
    }

    .price .woocommerce-Price-amount {
      font-size: 2.5rem;
    }

    span.onsale {
      top: 25px;
      background-color: #ff3860;
      bottom: 40px;
      color: #fff;
      position: absolute;
      left: 15px;
      transform: rotate(-8deg);
      z-index: 2;
      font-weight: bold;
      padding: 0.25em 0.5em;
      height: 40px;
      text-transform: uppercase;
      border-radius: unset;
      min-height: unset;
      min-width: unset;
      line-height: unset;
      font-size: 135%;
    }

    .product {
      position: relative;

      .cart .variations select {
        background-color: #fff;
        border-color: #dbdbdb;
        color: #363636;
        cursor: pointer;
        display: block;
        font-size: 1em;
        max-width: 100%;
        outline: 0;
        height: 3em;
      }

      form.cart.variations_form {
        align-items: flex-start;
        flex-direction: column;

        .woocommerce-variation-price {
          margin: 1em auto;
        }
      }
    }

    .related.products {
      h2.woocommerce-loop-product__title {
        border: none;
      }

      .woocommerce-Price-amount {
        color: $piekweek-primary;
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
}

body.woocommerce-cart {
  .product-name a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .actions button.button:disabled[disabled] {
    color: #515151;
  }

  .checkout-button {
    background-color: $gala-primary !important;
    color: white !important;
    text-transform: uppercase;
    height: unset;
  }
}

